<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168467956646-d42c4mv02agdj18f109api2oo9duvkek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168467956646-d42c4mv02agdj18f109api2oo9duvkek</string>
	<key>API_KEY</key>
	<string>AIzaSyCHa2iH7XxrJGg6VSN9yo52K1xz6GR1xuE</string>
	<key>GCM_SENDER_ID</key>
	<string>168467956646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ter.RateMe</string>
	<key>PROJECT_ID</key>
	<string>rateme-64431</string>
	<key>STORAGE_BUCKET</key>
	<string>rateme-64431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168467956646:ios:4ab8909e23da89ab</string>
	<key>DATABASE_URL</key>
	<string>https://rateme-64431.firebaseio.com</string>
</dict>
</plist>